.formula-grid .e-hideScroll.e-treegrid .e-scrollcss {
  padding-right: 0px !important;
  width: 100% !important;
}

.formula-grid .e-hideScroll.e-treegrid .e-gridheader, .e-hideScroll.e-treegrid .e-movablecontent {
  width: 100% !important;
}
  /*hide vertical scrollbar*/
.formula-grid .e-hideScroll .e-vscrollbar {
  display: none !important;
}

.grid-left-container {
  overflow: hidden !important;
}

.grid-right-container {
  overflow: hidden !important;
}
  .e-treegrid .e-footersummaryrowdiv.e-temp-scroll-div {
      border-top: 18px solid white !important;
  }
  .e-temp-scroll-div .e-firstfootersummaryrow td {
      border-top: 1px solid white !important;
}
.formula-grid .e-headercell {
  position: relative;
  padding-bottom: 30px;
  padding-top: 8px;
}
  .formula-grid   .header-action {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 24px;}

   .formula-grid   .button {
          width: 20px;
          height: 20px;
          padding: 0;
          line-height: 24px;
          outline: 0;
          border-radius: 2px;
}

.header-back-color .e-headercelldiv {
  font-size: 16px;
  font-weight: normal;
}
.formula-grid .e-headercell {
  height: 26px;
}

.formula-grid .e-treegrid .column-selection {
      background: #c1edff !important;
}

.header-back-color {
  background-color: #1690bc;
}
.formula-grid .above-ingredient .e-rowcell {
      border-top-color: #f44242!important;
      border-top-width: 2px !important;
}

.formula-grid .below-ingredient .e-rowcell {
      border-bottom-color: #f44242  !important;
      border-bottom-width: 2px !important;
}

.e-contextmenu, .e-headerContextmenu, .e-innerContextmenu {
  background: grey;
  border-radius: 6px;
}

.restricted-ingredient {
  color: red !important;
}

.revert-indent {
  > div {
      > div.e-dragintend {
          width: 4px !important;
      }
  }
}
