<div class="formula-grid">
    <ej-splitter id="outterSpliter"
                width="100%"
                [height]="gridHeight"
                [properties]="splitterProperties"
                [orientation]="orientation"
                (create)="splitterCreate($event)"
                (resize)="splitterResize($event)"
                [orientation]="orientation"
                [isResponsive]="true"
                enableAutoResize="true"
                (expandCollapse)="splitterExpandOrCollapse($event)">
        <div class="grid-left-container">
            <div>
                <ej-treegrid #FormulaTreeGridControl
                    id="FormulaTreeGridControl"
                    childMapping="subtasks"
                    [dataSource]="treeGridData"
                    [allowColumnReordering]="true"
                    [allowDragAndDrop]="allowRowDragDrop"
                    [selectionSettings]="selection"
                    [dragTooltip]="dragTooltip"
                    [allowColumnResize]="true"
                    [enableAltRow]="false"
                    [enableCollapseAll]="true"
                    [enableVirtualization]="true"
                    [treeColumnIndex]=treeColumnIndex
                    [sizeSettings.height]="gridHeight"
                    sizeSettings.width="100%"
                    [columnResizeSettings]="columnResizeSettings"
                    [editSettings]="editSettings"
                    [allowSelection]="true"
                    [allowKeyboardNavigation]="true"
                    [allowSorting]="true"
                    [isResponsive]="true"
                    [enableResize]="true"
                    [rowHeight]="26"
                    [showGridCellTooltip]="true"
                    (actionBegin)="formulaGridActionBegin($event)"
                    (actionComplete)="formulaGridActionComplete($event)"
                    (rowSelected)="formulaGridRowSelected($event)"
                    (rowDragStop)="formulaRowDragStopped($event)"
                    (load)="load($event)"
                    (beginEdit) = "onFormulaBeginEdit($event)"
                    (endEdit)="onFormulaEndEdit($event)"
                    (create)="createFormulaTreeGrid($event)"
                    (queryCellInfo)="formulaCellInfo($event)"
                    (rowSelecting)="formulaGridRowSelecting($event)"
                    (rowSelected)="formulaGridRowSelected($event)"
                    (expanded)="subFormulaExpandOrCollapseEventClicked($event)"
                    (collapsed)="subFormulaExpandOrCollapseEventClicked($event)"
                    [contextMenuSettings]="contextMenuSettings"
                    (contextMenuOpen)="formulaGridContextMenuOpened($event)"
                    (keydown.arrowup)="upArrow($event)"
                    (keydown.arrowdown)="downArrow()"
                    (keydown.pageup)="pageUp($event)"
                    (keydown.pagedown)="pageDown($event)"
                    (columnDragStart)="columnDragStart($event)"
                    (columnDrop)="columnDrop($event)"
                    (columnResizeStart)="columnResizeStarted($event)"
                    (columnResized)="columnResized($event)"
                    [showTotalSummary]="true"
                    [totalSummaryHeight]="120"
                    [collapsibleTotalSummary] ="true"
                    [summaryRows]="summaryRowsForAttributeGrid"
                    cssClass="e-hideScroll"
                    >
                    <e-treegrid-columns>
                        <e-treegrid-column textAlign="center"
                            field="iconReference"
                            headerText=""
                            [isTemplateColumn]="true"
                            [width]=30
                            [allowEditing]="false"
                            [isFrozen]="true"
                            [allowCellSelection]="false">
                            <ng-template e-template>
                                <img  [src]="getIngredientReferenceIcon()" style="width:16px; height:16px">
                            </ng-template>
                        </e-treegrid-column>
                        <e-treegrid-column textAlign="center"
                            field="warningIconReference"
                            headerText=""
                            [isTemplateColumn]="true"
                            [width]=30
                            [allowEditing]="false"
                            [isFrozen]="true"
                            [allowCellSelection]="false">
                        </e-treegrid-column>
                        <e-treegrid-column field="taskName"
                            textAlign="left"
                            headerText="Task Name"
                            headerTooltip= " "
                            editType="stringedit"
                            [allowEditing]="false"
                            [isFrozen]="true">
                        </e-treegrid-column>
                        <e-treegrid-column field="taskID"
                            textAlign="center"
                            headFerText="Task Id"
                            editType="stringedit"
                            [isFrozen]="true"
                            [allowEditing]="false">
                        </e-treegrid-column>
                        <e-treegrid-column headerTextAlign="center"
                            textAlign="right"
                            *ngFor="let formulaColumn of formulaHeader"
                            field={{formulaColumn.text}}
                            headerText={{formulaColumn.text}}
                            [width]=120
                            editType="numericedit"
                            [editParams]="formulaEditParams"
                            allowEditing="true"
                            [allowSorting] = "false"
                            [allowCellSelection]="true"
                            [format] = "formulaFormat"
                            [isTemplateColumn]="true">
                            <ng-template e-treegridheader-template let-data>
                                {{data.headerText}}
                                 <div class="header-action">
                                    <img [src]="getIngredientReferenceIcon()" style="width:18px; height:18px; font-size: 14px">
                                </div>
                            </ng-template>
                        </e-treegrid-column>
                    </e-treegrid-columns>

                </ej-treegrid>
            </div>
        </div>
        <div class="grid-right-container">
            <div>
                <ej-treegrid #AttributeTreeGridControl
                    id="AttributeTreeGridControl"
                    [allowColumnReordering]="true"
                    [allowDragAndDrop]="true"
                    [allowColumnResize]="true"
                    [dataSource]="treeGridData"
                    childMapping="subtasks"
                    [enableAltRow]="false"
                    [sizeSettings.height]="gridHeight"
                    [isResponsive]="true"
                    [dragTooltip]="dragTooltip"
                    sizeSettings.width="100%"
                    [editSettings]="editsettings"
                    [enableVirtualization]="true"
                    [enableCollapseAll]="true"
                    [allowSorting]="true"
                    [contextMenuSettings]="contextMenuSettings"
                    (contextMenuOpen)="formulaGridContextMenuOpened($event)"
                    [columnResizeSettings]="columnResizeSettings"
                    [enableResize]="true"
                    [rowHeight]="26"
                    (actionComplete)="attrGridActionComplete($event)"
                    (rowSelected)="attributeGridRowSelected($event)"
                    (load)="loadAttributeGrid($event)"
                    (columnDragStart)="columnDragStartAttribute($event)"
                    (columnDrop)="columnDropAttribute($event)"
                    (columnResized)="columnResizedAttribute($event)"
                    (actionBegin)="attrGridActionBegin($event)"
                    [showTotalSummary]="true"
                    [summaryRows]="summaryRowsForAttributeGrid"
                    [totalSummaryHeight]="120"
                    [collapsibleTotalSummary] ="true"
                    >
                    <e-treegrid-columns>
                        <e-treegrid-column
                            headerTextAlign="right"
                            field="taskID"
                            textAlign="right"
                            headerText="Task Id"
                            editType="stringedit"
                            [allowEditing]="false"
                            [width]=0 >
                        </e-treegrid-column>
                        <e-treegrid-column
                            headerTextAlign="right"
                            field="taskName"
                            textAlign="right"
                            headerText="Task Name"
                            editType="stringedit"
                            [width] =0>
                        </e-treegrid-column>
                        <e-treegrid-column
                            headerTextAlign="center"
                            textAlign="right"
                            *ngFor="let formulaColumn of formulaHeader"
                            field={{formulaColumn.text}}
                            headerText={{formulaColumn.text}}
                            [width]=0 >
                        </e-treegrid-column>
                        <e-treegrid-column
                            headerTextAlign="center"
                            textAlign="right"
                            *ngFor="let formulaColumn of attributeHeader"
                            field={{formulaColumn.field}}
                            headerText={{formulaColumn.text}}
                            [width]=120
                            editType="numericedit"
                            format = "{0:N2}">
                        </e-treegrid-column>
                    </e-treegrid-columns>

                </ej-treegrid>

            </div>
        </div>
    </ej-splitter>
</div>
<button (click)="addNewRecords($event)">Add New Row</button>
<button (click)="sortColumn($event)">Sort column</button>
<button (click)="addNewColumn($event)">Add New Column</button>
<button (click)="sortColumn($event)">Sort column</button>
<button (click)="insert()">dynamic insertion</button>
