<ej-tab #tabControl id="tabs" [showCloseButton]="true" (itemActive)="tabSelection($event)">
    <ul>
        <li>
            <a href=#dashboard>Dashboard</a>
        </li>
        <li>
            <a href=#dashboard>Workspace1</a>
        </li>
        <li>
            <a href=#dashboard>Workspace2</a>
        </li>
        <li>
            <a href=#dashboard>Workspace3</a>
        </li>
        <li>
            <a href=#dashboard>Workspace4</a>
        </li>
    </ul>
<app-dashboard *ngIf="isDashboard"></app-dashboard>
<app-workspace *ngIf="isWorkspace" [activeIndex]="activeIndex"> </app-workspace>
</ej-tab>
